<!DOCTYPE html>
<html lang="en" ng-app="ems">

	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <title>Mean Login</title>
	  <script type="text/javascript" src="js/angularjs/angular.min.js"></script>
	  <script type="text/javascript" src="js/angularjs/angular-route.js"></script>
	  <script type="text/javascript" src="js/angularjs/angular-strap.js"></script>
	  <script type="text/javascript" src="js/angularjs/angular-strap.tpl.js"></script>
	  <script type="text/javascript" src="js/angularjs/angular-cookies.js"></script>
	  <script type="text/javascript" src="js/angularjs/ngfile.js"></script>
	  <script src="js/jquery.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	</head>

		<body style="background:#F7F7F7;">
			
			<div ng-view></div>

		  
		   
			<script src="app.js"></script>
			<script src="./../contoller.js"></script>
		   
		</body>

</html>
