

<div class="container">
  <h2>Inline form</h2>
  

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" ng-model="login.username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" ng-model="login.password" placeholder="Enter password">
    </div>
   
    <button type="submit" ng-click="doLogin(login)" class="btn btn-default">Submit</button>
 
</div>




    
	
	

 